html {
  background: url(../assets/images/backgrounds/dojo.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    background-color: rgba(0, 0, 0, 0);
    color: #eee;
}

header {
    margin-top: 10px;
    display: inline-block;
}

input {
    color: #777;
}

.container__input-div {
    width: 500px;
    margin-top: 50px;
}

.user-text {
    margin-top: 20px;
}

.user-text button {
    margin-top: 20px;
}

.start-game {
    margin-top: 20px;
}

.spinner {
    margin-top: 40px;
    width: 100px;
    height: 100px;
    background: url(../assets/images/sprites/spinner.png) no-repeat;
    animation: spin 3s linear infinite;
    background-size: 100px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

canvas.game {
    margin-top: 50px;
}

#mask {
    position: absolute;
    background-color: #000;
    display: none;
    width: 100%;
    height: 100%;
    z-index: -9999;
}
